body{
  background-image: url('./img/world-of-warships-wargaming-net-ship-explosion-wallpaper.jpg');
  background-size:cover;
}
.App {
  text-align: center;
}
.board{
  width: 500px;
  height: 500px;
  border: 1px solid blue;
  margin: auto;
}
.board .field{
  width: 49.8px; 
  height: 49.8px;
  border: 1px solid black;
}